 <div class="home-page">
            <div class="overlay"></div>
            <div class="home-des">
            <div id="home-title">Hi!, I'M JONY KARKI</div>
            <div id="home-sub">Developer. Dreamer. Designer. basically, 3D!</div>
            <div class="buttons">
                  <div id="learn-more-button">About Me</div>
            </div>
      </div>
</div>


<div class="about-section">
    <div id="about-title">FEW WORDS THAT DESCRIBE ME</div>
    <div id="about-desc">
         Hello there! My name is Jony Karki and I'm a developer with a passion for Web Development, Android App Development and design. I'm a +2 graduate from
        <a href="http://www.sxc.edu.np/" target="_blank">St. Xavier's College</a> and currently applying for a University to study <a href="https://en.wikipedia.org/wiki/Computer_science" target="_blank">Computer Science.</a>
        <br>
        <br>When I'm not on the computer, I enjoy Watching Movies, Playing, or Reading Books.
    </div>
</div>


<div class="resume-section overlay">
    <div class="res-text-container">
        <div id="get-resume">CHECK OUT MY RESUME</div>
        <div id="resume-button">Grab A Copy!</div>
    </div>
</div>
