 <div class="home-page">
            <div id="home-overlay"></div>
            <div class="home-des">
            <div id="home-title">Hi!, I'M JONY KARKI</div>
            <div id="home-sub">Web &amp; Mobile Developer</div>
            <div class="buttons">
                  <div id="learn-more-button">About Me</div>
            </div>
      </div>
</div>
