<div id="site">
         <div class="switch-wrapper">
            <i class="fa fa-sun-o" aria-hidden="true"></i>
            <div class="toggle-wrapper"> <input id="switch" type="checkbox"/> <label for="switch" id="toggle">Toggle</label> </div>
            <i class="fa fa-moon-o" aria-hidden="true"></i>
         </div>
         <header class="intro">
            <h1 class="intro__hello">Hello! <i class="fa fa-hand-peace-o" aria-hidden="true"></i></h1>
            <h2 class="intro__tagline">I'm <span class="name">Jony Karki</span>, a Software Engineer focused on bringing awesome functionality, UI &amp; experiences <i class="fa fa-laptop" aria-hidden="true"></i></h2>
            <h3 class="intro__contact"> <span>Get in touch </span> <i class="fa fa-handshake-o" aria-hidden="true"></i><a href="/cdn-cgi/l/email-protection#2d4f5f4459594c4354034e45444c434a6d4a404c4441034e4240" target="_blank" class="highlight-link"><span class="__cf_email__" data-cfemail="385a4a514c4c595641165b505159565f785f55595154165b5755">jonykarki@gmail.com</span></a></span> </h3>
         </header>
         <section class="section background">
            <div class="section__title">Background</div>
            <div class="section__content">
                <p>
                    Hello there! My name is Jony Karki and I'm a developer with a passion for Web Development, Android App Development and design. I'm a +2 graduate from
                    <a href="http://www.sxc.edu.np/" target="_blank">St. Xavier's College</a> and currently applying for a University to study <a href="https://en.wikipedia.org/wiki/Computer_science" target="_blank">Computer Science.</a>
                    <br>
                    <br> When I'm not on the computer, I enjoy Watching Movies, Playing, or Reading Books.
                </p>

               <!-- <div class="status"> <div class="status__light"> <div class="status__light__ring"></div> <div class="status__light__led"></div> </div> <div class="status__message">Currently seeking full-time opportunities starting June 2018!</div> </div> --> 
            </div>
         </section>
         <section class="section skills">
            <div class="section__title">Skills</div>
            <div class="section__content">
               <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> --> 
               <div class="skillz">
                  <div class="skillz__category">
                     <div class="skillz__category__label">Languages</div>
                     <ul>
                        <li class="skillz__category__item">Java</li>
                        <li class="skillz__category__item">JavaScript (ES6)</li>
                        <li class="skillz__category__item">Python</li>
                        <li class="skillz__category__item">Ruby</li>
                        <li class="skillz__category__item">C#(limited)</li>
                        <li class="skillz__category__item">HTML</li>
                        <li class="skillz__category__item">CSS/Sass</li>
                        <li class="skillz__category__item">SQL</li>
                     </ul>
                  </div>
                  <div class="skillz__category">
                     <div class="skillz__category__label">Frameworks</div>
                     <ul>
                        <li class="skillz__category__item">Ruby on Rails</li>
                        <li class="skillz__category__item">JQuery</li>
                        <li class="skillz__category__item">Angular</li>
                        <li class="skillz__category__item"React(limited)</li>
                        <li class="skillz__category__item">SQlite</li>
                     </ul>
                  </div>
                  <div class="skillz__category">
                     <div class="skillz__category__label">Tools</div>
                     <ul>
                        <li class="skillz__category__item">Node.js</li>
                        <li class="skillz__category__item">MongoDB</li>
                        <li class="skillz__category__item">django</li>
                        <li class="skillz__category__item">Git & Github</li>
                        <li class="skillz__category__item">Gulp & Grunt</li>
                        <li class="skillz__category__item">Chrome DevTools</li>
                        <li class="skillz__category__item">Bash</li>
                     </ul>
                  </div>
                  <div class="skillz__category">
                     <div class="skillz__category__label">Design</div>
                     <ul>
                        <li class="skillz__category__item">Sketch</li>
                        <li class="skillz__category__item">Photoshop</li>
                        <li class="skillz__category__item">Responsive Design</li>
                        <li class="skillz__category__item">Prototyping</li>
                        <li class="skillz__category__item">User Testing</li>
                        <li class="skillz__category__item">Typography</li>
                     </ul>
                  </div>
               </div>
            </div>
         </section>
         <section class="section experience">
            <div class="section__title">Experience</div>
            <div class="section__content">
               <div class="jobs">
                  <div class="job">
                     <div class="time-place">
                        <div class="job__company"><a href="" target="_blank">FreeLance</a></div>
                        <div class="job__time">July 2014 - Present</div>
                     </div>
                     <div class="job__position">Android Application Developer</div>
                  </div>
                  <div class="job">
                     <div class="time-place">
                        <div class="job__company"><a href="" target="_blank">FreeLance</a></div>
                        <div class="job__time">July 2012 - Present</div>
                     </div>
                     <div class="job__position">Full Stack Web Developer</div>
                  </div>
               </div>
               <a href="" target="_blank" class="arrow-link">View My Resume<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> 
            </div>
         </section>
         <section class="section featured-projects">
            <div class="section__title">Featured Projects</div>
            <div class="section__content">
               <div class="project interventions">
                  <figure class="project__pic"><img src="<%= asset_path( 'ph.jpg' ) %>" /></figure>
                  <figcaption class="project__caption">
                     <div class="project__name"><a href="" target="_blank">Project-H</a></div>
                     <p>Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsums</p>
                  </figcaption>
               </div>
         </section>
         <section class="section other-projects">
            <div class="section__title">Other Projects</div>
            <div class="section__content">
               <div class="project">
                  <div class="project__name"><a href="" target="_blank" class="arrow-link">Lorrem Ipsum</a></div>
                  <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum vLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum v</p>
                  <div class="project__used"> <span class="project__used__item">Python</span> <span class="project__used__item">MySQL</span> <span class="project__used__item">Flask</span> <span class="project__used__item">HTML</span> <span class="project__used__item">CSS</span> <span class="project__used__item">JavaScript</span> </div>
               </div>
            </div>
         </section>
         <footer class="footer">
            <div class="footer__copyright">
               <div class="top"> <span>Designed &amp; Developed by</span> </div>
               <div class="bottom"> <span>Jony Karki</span> <i class="fa fa-thumbs-up" aria-hidden="true"></i> <span>2017</span> </div>
            </div>
            <div class="footer__links"> <a href="" target="_blank" title="email"> <span class="text">email</span> <img src="/img/social/email.svg" alt="email"> </a> <a href="" target="_blank" title="twitter"> <span class="text">twitter</span> <img src="/img/social/twitter.svg" alt="twitter"> </a> <a href="" target="_blank" title="instagram"> <span class="text">instagram</span> <img src="/img/social/instagram.svg" alt="instagram"> </a> <a href="" target="_blank" title="codepen"> <span class="text">codepen</span> <img src="/img/social/codepen.svg" alt="codepen"> </a> <a href="" target="_blank" title="github"> <span class="text">github</span> <img src="/img/social/github.svg" alt="github"> </a> <a href="" target="_blank" title="linkedin"> <span class="text">linkedin</span> <img src="/img/social/linkedin.svg" alt="linkedin"> </a> </div>
         </footer>
         <button id="top-button"> <i class="fa fa-hand-o-up" aria-hidden="true"></i> </button> 
      </div>