/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* CSS FOR WHOLE PAGE */
html, body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
	-webkit-font-smoothing: antialiased;
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

a:link {
    text-decoration: none;
}

.endbar {
    position: relative;
    height: 200px;
    background-color: #213333;
}

.endbar-text {
    color: white;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}

/* Form CSS Start */
.form {
    position: relative;
    width: 550px;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    margin: 0 auto;
    margin-top: 12%;
    padding: 20px 25px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/* FORM CSS END */