<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jony Karki | Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--css styles-->
   <meta property="og:title" content="Jony Karki | Software Engineer" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://jonykarki.herokuapp.com/" />
      <meta property="og:site_name" content="Jony Karki" />
      <meta property="og:locale" content="en_US">
      <meta name="keywords" content="development, engineering, portfolio">
      <meta itemprop="name" content="Jony Karki | Software Engineer">
      <script src="https://use.fontawesome.com/cc2f89fd42.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
</head>
<body>
  
    
<%= yield %>

    
     <!--javascript-->
    <script src="/cdn-cgi/scripts/78d64697/cloudflare-static/email-decode.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js' type="text/javascript" charset="utf-8"></script> 
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script> 

    <!-- ***********************************************************************************************************
                                         _   _              _   _                   _
                                        | | | | ___ _   _  | |_| |__   ___ _ __ ___| |
                                        | |_| |/ _ \ | | | | __| '_ \ / _ \ '__/ _ \ |
                                        |  _  |  __/ |_| | | |_| | | |  __/ | |  __/_|
                                        |_| |_|\___|\__, |  \__|_| |_|\___|_|  \___(_)
                                                    |___/

                                        Lookin' at the source code huh?
                                        Be sure to drop me a line! I'd love to chat,
                                        whether it's about code, design, or anything.

                                        => Jony Karki

        ************************************************************************************************************* -->


</body>
</html>
